.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

@media (min-width: 768px) {
  .header {
    padding-top: 1.5rem;
    --force: padding-top;
  }
}
