*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --color-dark-blue: #13183f;
  --color-light-gray: #83869a;
  --color-radiant: linear-gradient(to bottom, #ff6f48, #f02aa6);
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.u-container {
  padding: 0 1rem;
}

@media (min-width: 768px) {
  .u-container {
    padding: 0 2.4375rem;
  }
}

@media (min-width: 1200px) {
  .u-container {
    padding: 0 10.3125rem;
  }
}
