.course-card {
  padding: 2rem 1.75rem;
  padding-top: 3.5rem;
  border-radius: 0.625rem;
  background-color: white;
  position: relative;
  height: 16rem;
  --span-start: height, padding-top;
  display: flex;
  flex-direction: column;
}

.course-card__title {
  font-size: 1.25em;
  font-weight: 800;
  color: var(--color-dark-blue);
  margin-bottom: 1rem;
  --span-start: font-size;
}

.course-card__description {
  font-weight: 500;
  line-height: 1.625;
  color: var(--color-light-gray);
  margin-bottom: 1.5rem;
  --span-start: margin-bottom;
}

.course-card--intro {
  background: var(--color-radiant);
  color: white;
  padding-top: 1.5rem;
  margin-bottom: 0;
}

.course-card--intro .course-card__title {
  color: white;
  font-size: 1.5em;
  --span-start: font-size;
}

.course-card__image {
  position: absolute;
  top: -1.75rem;
}

.course-card__btn {
  display: block;
  margin-top: auto;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .course-card {
    padding-left: 2rem;
    padding-right: 2rem;
    --span-end: height, padding-top;
  }

  .course-card__title {
    --span-end: font-size;
  }

  .course-card--intro .course-card__title {
    --span-end: font-size;
  }
}

@media (min-width: 1200px) {
  .course-card {
    height: 20.125rem;
    padding-top: 4rem;
    padding-bottom: 2.5rem;
  }

  .course-card__description {
    font-size: 1.125em;
  }

  .course-card--intro .course-card__title {
    font-size: 2em;
  }

  .course-card__title {
    font-size: 1.5em;
  }
}
