.home-page__courses {
  background: linear-gradient(to bottom, white, #f0f1ff);
  padding-bottom: 5rem;
  --force: padding-bottom;
}

.home-page__course-list {
  list-style: none;
  padding-left: 0;
  display: grid;
  row-gap: 2.5rem;
  column-gap: 0.624rem;
  --span-start: column-gap;
  grid-template-columns: repeat(auto-fit, minmax(21.43rem, 1fr));
}
@media (min-width: 768px) {
  .home-page__courses {
    padding-bottom: 5.375rem;
  }
  .home-page__course-list {
    row-gap: 3.5rem;
    --span-end: column-gap;
  }
}
@media (min-width: 1200px) {
  .home-page__courses {
    padding-bottom: 8.75rem;
  }
  .home-page__course-list {
    row-gap: 5rem;
    column-gap: 1.875rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
